%h1 Listing metrics

%table
  %tr
    %th Name
    %th Unit
    %th
    %th
    %th

  - @metrics.each do |metric|
    %tr
      %td= metric.name
      %td= metric.unit
      %td= link_to 'Show', metric
      %td= link_to 'Edit', edit_metric_path(metric)
      %td= link_to 'Destroy', metric, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Metric', new_metric_path
