%h1 Listing measurements

%table
  %tr
    %th User
    %th Measurement type
    %th
    %th
    %th

  - @measurements.each do |measurement|
    %tr
      %td= measurement.user
      %td= measurement.measurement_type
      %td= link_to 'Show', measurement
      %td= link_to 'Edit', edit_measurement_path(measurement)
      %td= link_to 'Destroy', measurement, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Measurement', new_measurement_path
